@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-image.previous {
  opacity: 0;
  z-index: -1;
}
